@import '../../css/mixins';

.pokemon-table {

    &__loader {
        padding-top: 120px;
        margin: 0 auto;
    }

    &__container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 20px;
        margin-bottom: 10px;
        @include section-border;
    }

    &__refresh-button {
        max-width: 150px;
        height: 30px;
        margin: 0 auto 10px;
    }

    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;

    @media (max-width: 983px) {
        &__container {
            justify-content: center;
        }
    }
}